{
    email {$SSL_EMAIL}
    servers {
        max_header_size 8KB
    }
}

{$DOMAIN} {
    @amnezia_bridge path /amnezia/open/*
    handle @amnezia_bridge {
        request_body {
            max_size 2KB
        }
        reverse_proxy bot:8080 {
            header_up X-Real-IP {remote_host}
        }
    }

    handle {
        reverse_proxy bot:8080 {
            header_up X-Real-IP {remote_host}
        }
    }
}
